@{
    ViewBag.Title = "Home Page";
}

<main class="animate__animated animate__fadeIn"">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Inventory Management System</h1>
        <p class="lead">Welcome to the Inventory Management System!</p>
        <p>This system provides tools to efficiently manage your inventory, handle stock purchases, track stock sales, and maintain stock balances.</p>
    </section>

    <div class="row my-xxl-5">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Stock Purchases</h2>
            <p>Manage your stock inventory by purchasing new items. Keep track of suppliers, quantities, and costs.</p>
            <p><a class="btn btn-outline-dark" href="/StockPurchases/Index">Go to Stock Purchases &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Stock Sales</h2>
            <p>Sell your stock items and update your inventory. Record customer transactions and monitor profits.</p>
            <p><a class="btn btn-outline-dark" href="/StockSales/Index">Go to Stock Sales &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Stock Balances</h2>
            <p>Keep track of your stock balances to ensure accurate inventory management and financial reporting.</p>
            <p><a class="btn btn-outline-dark" href="/StockBalances/Index">Go to Stock Balances &raquo;</a></p>
        </section>
    </div>
</main>
