@model Inventory.Models.User

@{
    ViewBag.Title = "Forgot Password";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4">Forgot Password</h2>

                    @if (ViewBag.Message != null)
                    {
                        <p class="alert alert-success">@ViewBag.Message</p>
                    }

                    @using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter your email address" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-dark btn-block mt-4">Submit</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
